<!-->CSS Doc<-->
*{
	margin:0;
	padding:0;
}

#menu{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:#ccc;
	/*might need to change this since it does not work in IE/Edge 15 or below*/
	position:sticky;
	top:0;
	width:100%;
}

#navbar ul{
	display:flex;
	flex-direction:row;
	list-style:none;
	height:100%;
	margin:0px;
}

#navbar li{
	height:100%;
	display:block;
}

#navbar a{
	text-decoration:none;
	text-align:center;
	display:block;
	height:100%;
	background-color:#aaa;
	padding:5px;
	box-sizing:border-box;
}

#search{
	border:none;
}

#search fieldset{
	border:none;
	margin:0;
	padding:0;
	height: 100%;
}

footer{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:#ccc;
}

footer ul{
	list-style:none;
}